<div class="jumbotron">
  <h1 class="display-4">MEAN Authentication App</h1>
  <p class="lead">Welcome to Mean Authentication application</p>
  <hr class="my-4">
  <p>Login or Register for the same!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink = "/register" role="button">Register</a>
    <a class="btn btn-primary btn-lg" routerLink = "/login" role="button">Login</a>
  </p>
</div>

<!-- <div class='row'>
  <div class="col-md-4">
    <h3>Something</h3>
    <p>hulauahasudhsauhdusad</p>
  </div>
  <div class="col-md-4">
    <h3>Second 2</h3>
    <p>askldsakldjakdjsadjsa</p>
  </div>
  <div class="col-md-4">
    <h3>asdsadsadsadsa</h3>
    <p>sadkjsadkjlsadhlkashdlsa</p>
  </div>
</div> -->
